@media (max-width: 1200px)
  .container
    max-width: 860px
  .hero
    &__container
      max-width: 930px
      background-position: 65% 28%
    &__text
      max-width: 480px
  .collections
    &-grid
      grid-template-columns: 1fr 1fr
      grid-template-rows: 230px 230px 1fr
      grid-column-gap: 30px
      grid-row-gap: 30px
      justify-items: stretch
      align-items: stretch
      &__item
        &_big
          grid-row: span 2
    &__desc
      grid-column: 1 / 3
      grid-row: 3 / 4

@media (max-width: 992px)
  .header
    &__mobile
      &_fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 99
  body
    padding-top: 102px
  .container
    max-width: 650px
  .navbar
    margin-bottom: 20px
    position: relative
    &__menu
      &-wrapper
        display: none
    &-mobile
      &__visible
        display: flex
  .hero
    &__container
      max-width: 728px
      background-position: 65% 28%
      background-size: 175%
    &__wrapper
      padding: 13px 0 35px 28px
      margin-bottom: 80px
    &__title
      font-size: 48px
      line-height: 60px
      margin-bottom: 20px
    &__label
      margin-top: 22px
      margin-bottom: 26px
    &__text
      max-width: 400px
      margin-bottom: 36px
      font-size: 18px
      line-height: 32px
    &__button
      margin-bottom: 42px
    &__advantages
      max-width: 442px
  .menu
    &-button
      display: flex
      width: 24px
      height: 24px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      outline: none
  .collections
    &__container
      max-width: 672px
    &__desc
      padding: 0
    &__text
      max-width: 100%
      margin-bottom: 25px
    &-grid
      margin-bottom: 79px
  .tranding
    &__container
      max-width: 608px
    &-card
      flex-basis: 280px
      &__icon
        &_plus
          left: 45%
      &__text
        top: 51%
        left: 12%
    &__title
      text-align: center
      margin-bottom: 27px
    &__tabs
      position: static
      text-align: center
      margin-bottom: 55px
    &__tab
      &:first-child
        margin-left: 0

@media (max-width: 767px)
  .container
    max-width: 550px
  .hero
    &__container
      max-width: 620px
      background-position: 65% 28%
    &__title
      font-size: 32px
      line-height: 40px
    &__text
      max-width: 350px
      font-size: 16px
      line-height: 28px
  .title
    font-size: 28px
    line-height: 36px
  .collections
    &__text
      max-width: 98%
      font-size: 16px
      line-height: 28px
  .tranding
    &-card
      flex-basis: 260px

@media (max-width: 576px)
  body
    padding-top: 98px
  .container
    max-width: 86%
  .navbar
    margin-bottom: 15px
  .hero
    &__container
      min-width: 320px
      background-position: 80% -1%
      background-size: 396%
    &__wrapper
      padding: 377px 20px 36px
      text-align: center
      margin-bottom: 62px
    &__label
      min-width: 196px
      margin: 0 auto 22px
      padding: 2px 26px
    &__title
      text-align: center
    &__text
      text-align: center
      margin: 0 auto 25px
    &__button
      margin: 0 auto 24px
      padding: 13px 49px
      font-size: 16px
      line-height: 22px
    &__advantages
      flex-wrap: wrap
      justify-content: space-around
      &-picture
        width: 24px
        height: 24px
      &-item
        align-items: start
        justify-content: center
        margin-right: 4px
        &:last-child
          flex-basis: 100%
          margin-top: 16px
  .collections
    &__container
      min-width: 290px
    &-grid
      grid-template-rows: 300px 97px 1fr
      grid-column-gap: 14px
      grid-row-gap: 14px
      justify-items: stretch
      align-items: stretch
      margin-bottom: 59px
      &__item
        &_big
          grid-column: span 2
          grid-row: 1 / 2
    &__desc
      grid-column: span 2
      grid-row: 3 / 4
    &__title
      text-align: center
      margin-top: 22px
      margin-bottom: 20px
    &__text
      max-width: 96%
      text-align: center
    &__image
      border-radius: 3px
  .tranding
    &__container
      max-width: 90%
    &-card
      flex-basis: 48%
      margin-bottom: 23px
      &:last-child
        height: 170px
      &__wrap
        margin-left: 0
        justify-content: start
      &__title
        font-size: 16px
        line-height: 20px
      &__cost
        font-size: 14px
        line-height: 24px
      &__icon
        width: 14px
        margin-left: 9px
        &_plus
          width: 23px
          top: 26%
          left: 41%
      &__picture
        transform: none
      &__img
        height: 170px
        margin-bottom: 14px
      &__text
        font-size: 17px
        line-height: 20px
        left: -2%
    &__tabs
      margin-bottom: 35px
    &__tab
      font-size: 16px
      line-height: 22px
      margin-left: 14px
      &_active
        font-size: 16px
        line-height: 22px

@media (min-width: 992px)
  .button
    &:hover
      background-color: #b0d2ff
  .collections
    &__button
      &:hover
        background-color: #b0d2ff
  .navbar
    &__link
      &:hover
        color: #b0d2ff
  .tranding
    &__tab
      &:hover
        color: #b0d2ff
