*
  box-sizing: border-box

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.woff2') format('woff2')
  font-weight: 400
  font-style: normal
  font-display: swap
@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans-SemiBold.woff') format('woff'),
  url('../fonts/OpenSans-SemiBold.woff2') format('woff2')
  font-weight: 600
  font-style: normal
  font-display: swap
@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans-Bold.woff') format('woff'),
  url('../fonts/OpenSans-Bold.woff2') format('woff2')
  font-weight: 700
  font-style: normal
  font-display: swap
@font-face
  font-family: 'HKgrotesk'
  src: url('../fonts/HKGrotesk-Regular.woff') format('woff'),
  url('../fonts/HKGrotesk-Regular.woff2') format('woff2')
  font-weight: 400
  font-style: normal
  font-display: swap
@font-face
  font-family: 'HKgrotesk'
  src: url('../fonts/HKGrotesk-Medium.woff') format('woff'),
  url('../fonts/HKGrotesk-Medium.woff2') format('woff2')
  font-weight: 500
  font-style: normal
  font-display: swap
@font-face
  font-family: 'HKgrotesk'
  src: url('../fonts/HKGrotesk-Bold.woff') format('woff'),
  url('../fonts/HKGrotesk-Bold.woff2') format('woff2')
  font-weight: 700
  font-style: normal
  font-display: swap

body
  font-family: 'OpenSans', sans-serif
.container
  max-width: 1140px
  margin: auto
img
  max-width: 100%
.button
  outline: none
.label
  background: rgba(54, 179, 126, 0.1)
  border-radius: 20px
  &__text
    margin: 0
    color: #36B37E
    font-weight: 600
    font-size: 14px
    line-height: 20px
    text-align: center
