.stories
  &__container
    max-width: 1150px
    margin: 0 auto 140px
    display: flex
    justify-content: space-between
    align-items: center
  &__description
    max-width: 390px
    margin-right: 84px
  &__label
    max-width: 101px
    margin-top: 13px
    margin-bottom: 31px
    padding: 6px 15px
    margin-bottom: 28px
  &__title
    margin-bottom: 24px
  &__text
    margin: 0 0 48px
    font-size: 20px
    line-height: 36px
    color: #5A7184
  &__button
    margin-right: 20px
    cursor: pointer
  &__slider
    max-width: 650px
  &__slide
    display: flex
  &-item
    max-width: 322px
    margin-right: 28px
    position: relative
    cursor: pointer
    &__text
      position: absolute
      background: #FAFDFF
      bottom: 0
      left: 0
      padding: 20px
      z-index: 10
    &__image
      width: 312px
      height: 317px
      border-radius: 8px 8px 0 0
      overflow: hidden
    &__picture
      object-fit: cover
      transform: scale(1.1, 1.1)
    &__title
      max-width: 260px
      font-family: 'HKgrotesk', sans-serif
      font-style: normal
      font-weight: 500
      font-size: 22px
      line-height: 32px
      letter-spacing: 0.2px
      color: $dark-blue
    &__link
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: #1565D8
      text-decoration: none
