.stories
  &__container
    max-width: 1150px
    margin: auto
  &__description
    max-width: 392px
  &__label
    max-width: 175px
    margin-top: 17px
    margin-bottom: 31px
    padding: 6px 15px
    margin-bottom: 28px
  &__title
    margin-bottom: 24px
  &__text
    margin: 0 0 42px
    font-size: 20px
    line-height: 36px
    color: #5A7184
.slider
  &-button
    margin-right: 22px
